/* member.css */

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
}

li {
    margin: 0 1rem;             
}

.memberlist h1 {
    font-size: 48px;
    text-align: center;
    font-weight: bold;
}

.memberlist h2 {
    font-size: 28px;
    font-weight: bold;
}

.memberlist  p {
    font-size: 12px;
    text-align: center;
}