.page {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #384e66;
}

p, h1, h2{
    color: #f9f9f9;
}


h1 {
    font-size: 48px;
    font-weight: bold;
}

h2 {
    font-size: 28px;
    font-weight: bold;
}

p {
    font-size: 16px;
}

a {
    color: #f9f9f9;
    background-color: #791f2b;
    font-weight: bold;
    padding: 0.75rem;
    border-radius: 1rem;
    text-decoration: none;
}
