/* style.css */

.page {
    width: 100%;
    height: 100%;
    font-family: Helvetica;
}

body {
    background-color: #384e66;
}

p, h1, h2{
    color: #f9f9f9;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

h2 {
    font-size: 28px;
    font-weight: bold;
}

p {
    font-size: 16px;
}

button:hover {
    filter: brightness(80%);
}