/*
.page {
    display: flex;
}
'*/

body {
    background-color: #384e66;
}

.hesth {
    background-color: #142c42;
    height: 10vh;
}

.foten {
    background-color: #142c42;
    height: 8vh;
}

p {
    color: #ffffff;
}